<div>

    <div class="row">
        <a class="btn btn-secondary" routerLink="/dashboard"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Return to dashboard</a>
        <div class="col-xs-12 col-md-12 mb-5 chart-wrapper">
            <div style="display: block;">
                <canvas *ngIf="currentData && currentData.length > 0 && standardData && standardData.length > 0" baseChart #baseChart="base-chart" width="400" height="90" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                    [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 table-responsive" *ngIf="tracks.length > 0">
            <table class="analytics table ">
                <thead class="head-primary">
                    <tr>
                        <th scope="col"> <a class="new-item" title="New Item" (click)="newItem();"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</a></th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Current</th>
                        <th scope="col">Standard</th>
                        <th scope="col">HB</th>
                        <th scope="col">KPI1</th>
                        <th scope="col">KPI2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of  tracks;trackBy:item?.id;let i = index">
                        <td>
                            <a class="edit-link" title="Edit" (click)="edit(item,i);"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.current}}</td>
                        <td>{{item.standard}}</td>
                        <td>{{item.hb}}</td>
                        <td>{{item.kpi1}}</td>
                        <td>{{item.kpi2}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>



</div>