<div class="mtech">
    <nav class="navbar navbar-toggleable-md navbar-dark bg-primary bg-faded">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/dashboard">VITA Track</a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       ☰
  </button>


        <div class="collapse navbar-collapse pull-md-right  text-xs-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/analytics">Analytics</a></li>

            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="jumbotron">
            <router-outlet></router-outlet>
        </div>


    </div>
    <div>